body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F6F1EB;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
}

label {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
}

input[type="number"],
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9f9f9;
  color: #333;
}

button {
  background-color: #3B88C3;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

#buscarPorIdBtn {
  background-color: #3B88C3;
}

#buscarPorIdBtn:hover {
  background-color: #0056b3;
}

#limpiarBusquedaBtn {
  background-color: #3B88C3;
}

#limpiarBusquedaBtn:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 12px;
}

.propiedades-grid {
  display: grid;
  gap: 20px;
}

.propiedad-card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.propiedad-imagen {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.6rem;
  }

  input[type="number"],
  select,
  button {
    padding: 8px;
  }

  .propiedades-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) {
  .propiedades-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
